.sideNav {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
}
.list {
  display: flex;
  flex-direction: column;
  padding: 1rem .65rem;

  &:not(:last-child){
    border-bottom: 1px solid var(--primaryLight);
  }

  &__arrow {
    margin: 0 auto 0 0;
  }

  &__item {
    cursor: pointer;
    display: flex;
    padding: 0.4rem 0.6rem;
    border-radius: 0.8rem;
    align-items: center;
    color: var(--primaryLight);

    &:hover {
      background-color: var(--primaryLighter);
    }
    &.active {
      background-color: var(--primary);
    }

    &_title {
      margin: 0 1rem 0 0;
    }

    &.active {
      color: #fff;
    }

    &:not(:last-child) {
      margin-bottom: 0.2rem;
    }
  }
}
