:root {
  font-family: "Cairo", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: #333;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  --primary: #295e56;
  --primaryLight: #b6c3c0;
  --primaryLighter: #e3e8e7;
  --redish: rgb(255, 82, 82);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
input::placeholder{
  font-family: "Cairo", sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  padding: 0;
  background-color: #fff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  list-style: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* SHARED STYLES */

/* DATE PICKERS */
.datePicker {
  width: 100%;
  background-color: #fff;
  border-radius: .5rem;
  padding: .3rem .5rem;
  input, span, svg{
    color: var(--primaryLight);
    stroke: var(--primaryLight);
  }
  .react-date-picker__wrapper {
    border: 0;
    display: flex;
  }
  .react-date-picker__clear-button {
    margin: 0 auto 0 0;
  }
}
/* -------------------- */
.errorMessage {
  color: var(--redish);
  font-size: .8rem;
  margin-right: .2rem;
}
